<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062121126338-akppe6n42kam8tltv9o1k8j50vdvin9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062121126338-akppe6n42kam8tltv9o1k8j50vdvin9t</string>
	<key>API_KEY</key>
	<string>AIzaSyBrZVVLEfTpOytAlnIu_HyRqV3ENGx_idE</string>
	<key>GCM_SENDER_ID</key>
	<string>1062121126338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vetwork.vetwork</string>
	<key>PROJECT_ID</key>
	<string>mindful-future-239111</string>
	<key>STORAGE_BUCKET</key>
	<string>mindful-future-239111.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062121126338:ios:ef74374af02ff482</string>
	<key>DATABASE_URL</key>
	<string>https://mindful-future-239111.firebaseio.com</string>
</dict>
</plist>